* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Primary Basic Design Start */
:root {
    --font-family-primary: 'Noto Serif', serif;
    --font-family-secondary: 'Inter', sans-serif;
}

.primary-button-style {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: #E95A08;
}
.secondary-font-style {
    font-family: 'Inter', sans-serif;
    font-size: calc( 22 / 16 * 1rem);
    color: rgba(0, 0, 0, 0.4);
}
/* Primary Basic Design End */

/* Navbar Design Start */
.navbar-primary {
    max-width: calc( 100% - 150px);
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}
.navbar-menus {
    max-width: 420px;
}
.navbar-menus ul{
    display: flex;
    gap: calc( 48 / 16 * 1rem);
    justify-content: center;
    align-items: center;
}
.navbar-menus ul li {
    list-style: none;
}
.navbar-menus ul li a {
    text-decoration: none;
    font-family: var(--font-family-secondary);
    font-size: 1rem;

}
.navbar-menus ul li a span {
    color: #252432;
    font-weight: 700;
    font-size: 1rem;
}
.cart-style {
    color: #252432;
}
.cart-style i {
    margin-right: 10px;
}
/* Navbar Design End */

/* Header Banner Start */
.header-banner {
    max-width: calc(100% - 150px);
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header-banner-column1 {
    width: calc(100% - 150px - 40%);
    height: auto;
}
.header-banner-column1 h1 {
    font-family: var(--font-family-primary);
    font-size: calc(65 / 16 * 1rem);
    font-weight: 700;
    color: black;
}
.header-banner-column1 span {
    color: #E95A08;
}
.header-banner p {
    margin-top: 13px;
    text-align: left;
}
 .header-banner-column2 {
    width: calc(100% - 150px - 50%);
    display: flex;
    justify-content: flex-end;
 }
 .header-banner-column2 img {
    max-width: 100%;

 }    
/* Header Banner End */

/* Flower Product Card */
.flower-card-section {
    max-width: calc(100% - 150px);
    margin: 120px auto;
}
.flower-card-heading {
    text-align: center;
}
.flower-card-heading h1 {
    font-family: var(--font-family-primary);
    font-size: calc(50 / 16 * 1rem);
    font-weight: 700;
    color: black;
}
.flower-card-heading h1 span {
    color: #E95A08;
}
.flower-card-heading p {
    font-size: calc(22 / 16 * 1rem); 
    color: rgba(0, 0, 0, 0.4);
    max-width: calc(100% - (150px + 160px));
    margin: 16px auto;
}
.flower-cards-column {
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    justify-items: center;
    align-items: center;
    row-gap: 30px;
}
.flower-card {
    max-width: 270px;
}
.flower-cards-column img {
    max-width: 100%;
}
.flower-cards-column h3, .flower-cards-column h4 {
    font-family: var(--font-family-secondary);
    font-size: calc(22 / 16 * 1rem);
    text-align: center;
}
.flower-cards-column h3 {
    margin-top: 30px;
    font-weight: 500;
}
.flower-cards-column h4 {
    margin-top: 20px;
    font-weight: 700;
}
.flower-cards-column button {
    font-family: var(--font-family-secondary);
    color: white;
    margin-top: 30px;
    padding: 15px 80px;
    width: 100%;
    background-color: #E95A08;
    border: none;
    font-weight: 600;
    font-size: calc(16 / 16 * 1rem);
}
/* Flower Product End */





/* Responsive Section Start */
@media screen and (max-width: 576px) {
    
    /* Navbar Responsiveness Start */ 
    .responsive-hide {
        display: none;
    } 
    .navbar-primary {
        min-width: 0;
        gap: 0px;
        max-width: calc( 100% - 20px);
        padding: 0px 20px;
        white-space: nowrap;
    }
    .navbar-menus {
        white-space: nowrap;
    }
    .navbar-primary img {
        width: 60px;
    }

    /* Header Banner Responsiveness Start */
    .header-banner {
        flex-direction: column;
        max-width: calc(100% - 20px);
    }
    .header-banner-column1 img {
        width: 100%;
    }
    .header-banner-column1 h1 {
        font-size: calc(24 / 16 * 1rem);
    }
    .header-banner :nth-child(1) {
        order: 2;
    }
    .header-banner-column2, .header-banner-column1 {
        width: calc(100% - 20px);
    }
    .header-banner-column1 {
        margin-top: 28px;
    }
    .header-banner-column1 p {
        margin-top: 14px; 
    }
    /* Header Banner Responsiveness End */
}
/* Responsive Section End */