* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f8ff;
}

/* Primary Basic Design Start */
:root {
    --font-family-primary: 'Noto Serif', serif;
    --font-family-secondary: 'Inter', sans-serif;
}

.primary-button-style {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: #E95A08;
}
.secondary-font-style {
    font-family: 'Inter', sans-serif;
    font-size: calc( 22 / 16 * 1rem);
    color: rgba(0, 0, 0, 0.4);
}
/* Primary Basic Design End */

/* Navbar Design Start */
.navbar-primary {
    max-width: calc( 100% - 150px);
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}
.navbar-menus {
    max-width: 420px;
}
.navbar-menus ul{
    display: flex;
    gap: calc( 48 / 16 * 1rem);
    justify-content: center;
    align-items: center;
}
.navbar-menus ul li {
    list-style: none;
}
.navbar-menus ul li a {
    text-decoration: none;
    font-family: var(--font-family-secondary);
    font-size: 1rem;

}
.navbar-menus ul li a span {
    color: #252432;
    font-weight: 700;
    font-size: 1rem;
}
.cart-style {
    color: #252432;
}
.cart-style i {
    margin-right: 10px;
}
/* Navbar Design End */

/* Header Banner Start */
.header-banner {
    max-width: calc(100% - 150px);
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header-banner-column1 {
    width: calc(100% - 150px - 40%);
    height: auto;
}
.header-banner-column1 h1 {
    font-family: var(--font-family-primary);
    font-size: calc(65 / 16 * 1rem);
    font-weight: 700;
    color: black;
}
.header-banner-column1 span {
    color: #E95A08;
}
.header-banner p {
    margin-top: 13px;
    text-align: left;
}
 .header-banner-column2 {
    width: calc(100% - 150px - 50%);
    display: flex;
    justify-content: flex-end;
 }
 .header-banner-column2 img {
    max-width: 100%;

 }    
/* Header Banner End */

/* Flower Product Card */
.flower-card-section {
    max-width: calc(100% - 150px);
    margin: 120px auto;
}
.flower-card-heading {
    text-align: center;
}
.flower-card-heading h1 {
    font-family: var(--font-family-primary);
    font-size: calc(50 / 16 * 1rem);
    font-weight: 700;
    color: black;
}
.flower-card-heading h1 span {
    color: #E95A08;
}
.flower-card-heading p {
    font-size: calc(22 / 16 * 1rem); 
    color: rgba(0, 0, 0, 0.4);
    max-width: calc(100% - (150px + 160px));
    margin: 16px auto;
}
.flower-cards-column {
    /* max-width: calc(100% - 150px); */
    /* width: 100%; */
    margin: 49px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    row-gap: 30px;
}
.flower-card {
    max-width: 270px;
}
.flower-cards-column img {
    max-width: 100%;
}
.flower-cards-column h3, .flower-cards-column h4 {
    font-family: var(--font-family-secondary);
    font-size: calc(22 / 16 * 1rem);
    text-align: center;
}
.flower-cards-column h3 {
    margin-top: 30px;
    font-weight: 500;
}
.flower-cards-column h4 {
    margin-top: 20px;
    font-weight: 700;
}
.flower-cards-column button {
    font-family: var(--font-family-secondary);
    color: white;
    margin-top: 30px;
    padding: 1em 1em;
    width: 100%;
    background-color: #E95A08;
    border: none;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
}
/* Flower Product End */

/* FLower Plant Lover Section Design Start */
.flower-plant-section {
    max-width: calc(100% - 150px);
    height: auto;
    margin: 0 auto;
}
.flower-plant-lover-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    text-align: left; 
}
.flower-plant-column1 {
    width: 41em;
    height: 600px;
    background-image: url('../assets/flower-store.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.flower-plant-column1 img {
    width: 20em; 
    position: absolute;
    top: -24%;
    right: -18%;
    filter: drop-shadow(-1px 9px 4px rgba(0,0,0,0.5));
}
.flower-plant-column2 {
    width: 50%;
    /* height: 600px; */
}
.flower-plant-column2 h1 {
    font-family: var(--font-family-primary);
    font-size: calc(50 / 16 * 1rem);
    font-weight: 700;
    color: black;
}
.flower-plant-column2 ul li {
    margin: 20px 30px;
}
.flower-plant-column1 img {
    animation: infinite-rotate 15s linear infinite;
}
/* FLower Plant Lover Section Design End */

/* Lates Deals Section Start */
.latest-deals-section {
    max-width: calc(100% - 150px);
    margin: 133px auto;
}
.latest-deals-heading-des {
    text-align: center;
} 
.latest-deals-heading-des h1 {
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: calc(50 / 16 * 1rem);
}
.latest-deals-heading-des h1 span {
    color: #E95A08;
}
.latest-deals-heading-des p {
    max-width: 40em;
    margin: 16px auto;
}

.images-collages-columns {
    height: 423px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "bloom zabo"
    "ana zabo"
    ;
    gap: 18px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 225px;
    
}
.bloom-plant-column {
    grid-area: bloom;
    width: 100%;
    height: 100%;
    /* background-color: gray; */
    border-radius: 14px;
    position: relative;
}
.picture-bg-bloom {
    width: 100%;
    height: 100%;
    /* background-color: gray; */
    border-radius: 14px; 
    background-image: url('../assets/deal-bloom.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 19px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: calc(9 / 16 * 1rem);
    position: absolute;
}
.ana-plant-column {
    grid-area: ana;
    width: 100%;
    height: 100%;
    /* background-color: gray; */
    border-radius: 14px; 
    position: relative;
}
.picture-bg-ana {
    width: 100%;
    height: 100%;
    /* background-color: gray; */
    border-radius: 14px;
    background-image: url('../assets/deal-ana.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 19px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
}
.heading-and-button-ana, .heading-and-button-bloom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    font-family: var(--font-family-primary);
    font-weight: 700;
    font-size: calc(8.5 / 16 * 1rem);
}
.heading-and-button-bloom button, .heading-and-button-ana button {
    background: none;
    border: none;
    text-decoration: underline;
    color: white;
    font-family: var(--font-family-secondary);
    font-size: calc(9 / 16 * 1rem);
    font-weight: 600;
    cursor: pointer;
}
.zabo-plant-column {
    height: 100%;
    width: 100%;
    grid-area: zabo;
    /* background-color: gray; */
    border-radius: 22px;
    position: relative;
}
.picture-bg-zabo {
    height: 100%;
    width: 100%;
    grid-area: zabo;
    /* background-color: gray; */
    border-radius: 22px;
    background-image: url('../assets/deal-zabo.png');
    background-repeat: no-repeat;
    background-size: cover;
    place-items: center;
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
}
.heading-and-button-zabo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: calc(15 / 16 * 1rem);
    font-family: var(--font-family-primary);
    text-align: center;
    font-weight: 700;
}
.heading-and-button-zabo button {
    background: none;
    border: none;
    text-decoration: underline;
    color: white;
    font-family: var(--font-family-secondary);
    font-size: calc(14 / 16 * 1rem);
    font-weight: 600;
    cursor: pointer;
}
.picture-bg-ana, .picture-bg-bloom, .picture-bg-zabo {
    filter: brightness(50%);
}
/* Latest Deals Section End */

/* Join the Colourful Bunch Section Deign Start */
.join-the-colourful-section {
    max-width: 100%;
    height: 534px;
    margin: 15px auto;
    text-align: center;
    position: relative;
}
.bg-photo-join-the-colourful {
    background: url('../assets/news-letter-bg.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;

}
.input-field-button {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
}
.input-field-button input {
    padding: 15.5px 540px 15.5px 20px;
    border: none;
}
.input-field-button button {
    padding: 19px 53.5px;
    border: none;
    background-color: #E95A08;
    color: white;
    font-family: var(--font-family-secondary);
    font-size: calc(16 / 16 * 1rem);
    font-weight: 600;
    cursor: pointer;
}
.input-field-button input[type="email"] {
    font-size: calc(16 / 16 * 1rem);
}
.input-field-button::placeholder {
    font-family: var(--font-family-secondary);
    font-size: calc(16 / 16 * 1rem);
}
.join-the-colourful-section h1 {
    font-family: var(--font-family-primary);
    font-size: calc(50 / 16 * 1rem);
    font-weight: 700;
    color: white;
    top: 41%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}
/* Join the Colourful Bunch Section Deign End */

/* Footer Design Start */
.footer-columns {
    max-width: calc(100% - 150px);
    margin: 50px auto;
}
.footer-columns {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    justify-items: center;
    gap: 55px;
}
.footer-logo-and-text p {
    margin-top: 16px;
}
.site-links1 ul, .site-links2 ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.site-links1 ul li, .site-links2 ul li {
    list-style: none;
    font-size: 1rem;
}
.site-links1 ul li a, .site-links2 ul li a {
    color:rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
.social-links {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
}
.social-links img {
    max-width: 23px;
}
/* Footer Design End */







/* Responsive Section Start */
@media screen and (max-width: 576px) {
    
    /* Navbar Responsiveness Start */ 
    .responsive-hide {
        display: none;
    } 
    .navbar-primary {
        min-width: 0;
        gap: 0px;
        max-width: calc( 100% - 20px);
        padding: 0px 20px;
        white-space: nowrap;
    }
    .navbar-menus {
        white-space: nowrap;
    }
    .navbar-primary img {
        width: 65px;
    }

    /* Header Banner Responsiveness Start */
    .header-banner {
        flex-direction: column;
        max-width: calc(100% - 20px);
    }
    .header-banner-column1 img {
        width: 100%;
    }
    .header-banner-column1 h1 {
        font-size: calc(24 / 16 * 1rem);
    }
    .header-banner :nth-child(1) {
        order: 2;
    }
    .header-banner-column2, .header-banner-column1 {
        width: calc(100% - 20px);
    }
    .header-banner-column1 {
        margin-top: 28px;
    }
    .header-banner-column1 p {
        margin-top: 14px; 
    }
    /* Header Banner Responsiveness End */

    /* Flower Product Cards Responsiveness Start */
    .flower-cards-column {
        grid-template-columns: repeat(2, 1fr);
    }
    .flower-card {
        max-width: 170px;
    }
    .flower-card h3, .flower-card h4 {
        font-size: calc(20 / 16 * 1rem);
    }
    .flower-card button{
        font-size: 0.8em;
    }
    .flower-card-heading h1 {
        font-size: calc(24 / 16 * 1rem);
    }
    .flower-card-heading p {
        font-size: calc(14 / 16 * 1rem);
    }
    .flower-card-section p {
        max-width: calc(100% - 20px);
    }
    .flower-card-section {
        max-width: calc(100% - 20px);
    }
    /* Flower Product Cards Responsiveness End */

    /* Flower & Plant Lover Section Design Start */
    .flower-plant-section {
        max-width: calc(100% - 20px);
    }
    .flower-plant-lover-columns {
        flex-direction: column;
        gap: 18px;
    }
    .flower-plant-column1 img {
        display: none;
    }
    .flower-plant-column1 {
        background-size: contain;
        max-width: 100%;
        height: 433px;
    }
    .flower-plant-column2 {
        width: 100%;
    }
    .flower-plant-column2 h1 {
        font-size: calc(24 / 16 * 1rem);
    }
    .flower-plant-column2 h1 br {
        display: none;
    }
    .flower-plant-column2 ul li {
        font-size: calc(14 / 16 * 1rem);
        margin-left: 25px;
    }
    /* Flower & Plant Lover Section Design End */

    /* Latest Deals Responsiveness Start */
    .latest-deals-section {
        max-width: calc(100% - 20px);
        margin-bottom: 10px;
    }
    .images-collages-columns {
        margin-top: 50px;
        height: 581px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "bloom"
        "ana"
        "zabo";
        height: 700px;
    }
    .latest-deals-heading-des h1 {
        font-size: calc(24 / 16 * 1rem);
    }
    .latest-deals-heading-des p {
        font-size: calc(14 / 16 * 1rem);
    }
    .heading-and-button-ana, .heading-and-button-bloom, .heading-and-button-zabo {
        font-size: calc(9.5 / 16 * 1rem);
        width: 214px;
    }
    .heading-and-button-bloom button, .heading-and-button-ana button, .heading-and-button-zabo button {
        font-size: calc(14 / 16 * 1rem);
    }
    /* .zabo-plant-column {
        width: 100px;
    } */

    /* Latest Deals Responsiveness End */

    /* Joing The Colourful Bucnch Responsiveness Start */
    .join-the-colourful-section {
        height: 276px;
        margin-top: 44.5px;
    }
    .bg-photo-join-the-colourful {
        background-size: cover;
    }
    
    .join-the-colourful-section h1 {
        font-size: calc(15 / 16 * 1rem);
    }
    .input-field-button input {
        padding: 15.5px 10px 15.5px 10px;
    }
    .input-field-button button {
        padding: 19px 12px;
    }
    /* Joing The Colourful Bucnch Responsiveness End */

    /* Footer Section Responsiveness Start */
    .footer-columns {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr 1fr 1fr; */
        justify-items: flex-start;
        max-width: calc(100% - 20px);
        gap: 20px
    }
    .site-links1 ul, .site-links2 ul, .social-links {
        justify-content: flex-start;
        gap: 20px;
    }
    /* Footer Section Responsiveness End */
}
/* Responsive Section End */


/* Keyframe for Infinite Badge Rotate Animation Start */
@keyframes infinite-rotate {
    from{transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
/* Keyframe for Infinite Badge Rotate Animation End */
