* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Primary Basic Design Start */
:root {
    --font-family-primary: 'Noto', serif;
    --font-family-secondary: 'Inter', sans-serif;
}

.primary-button-style {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: #E95A08;
}
.secondary-font-style {
    font-family: 'Inter', sans-serif;
    font-size: calc( 22 / 16 * 1rem);
    /* color: rgba(0, 0, 0, 0.4); */
    color: #8987A1;
}
/* Primary Basic Design End */

/* Navbar Design Start */
.navbar-primary {
    max-width: calc( 100% - 150px);
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}
.navbar-column1 {
    max-width: 100%;
}
.navbar-menus ul{
    display: flex;
    gap: calc( 48 / 16 * 1rem);
    justify-content: center;
    align-items: center;
}
.navbar-menus ul li {
    list-style: none;
}
.navbar-menus ul li a {
    text-decoration: none;
    font-family: var(--font-family-secondary);
    font-size: 1rem;

}
.navbar-menus ul li a span {
    color: #252432;
    font-weight: 700;
    font-size: 1rem;
}
.cart-style {
    color: #252432;
}
.cart-style i {
    margin-right: 10px;
}
/* Navbar Design End */





/* Responsive Section Start */
@media screen and (max-width: 576px) {
    
    /* Navbar Responsiveness Start */ 
    .responsive-hide {
        display: none;
    } 
    .navbar-primary {
        min-width: 0;
        gap: 0px;
        max-width: calc( 100% - 20px);
        padding: 0px 20px;
    }
    .navbar-menus {
        white-space: nowrap;
        
    }
    .navbar-primary img {
        width: 60px;
    }

}
/* Responsive Section End */